<div class="dashboard">
    <button class="dashbtn" id="create-post" type="button" uk-toggle="target: #modal-example">New Post</button>
    <div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body modalpost">
        <h2 class="uk-modal-title">New Post</h2>
        <form id="formpost">
            <input class="uk-input titlepost" type="text" id="titlepost" placeholder="Title">
            <textarea class="uk-textarea" rows="5" id="newcontent" placeholder="Textarea"></textarea>
            <button class="uk-button uk-button-default u>k-modal-close" type="submit" id="newpost">Post</button>
        </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default u>k-modal-close" type="button">Nevermind</button>
        </p>
    </div>
</div>
    <h1>Dashboard: your posts</h1>
    {{#if post.length}}
</div>

{{#each posts as |post|}}
{{post.title}}

<a href="/dashboard/edit/{{post.id}}"><button class="">Edit Post</button></a>
</div>
{{/each}}

{{else}}
<h1>You do not currently have any posts.</h1>

{{/if}}